@model ShoppingCake.MVC.ViewsModels.MenuViewModel;
@{
    ViewData["Title"] = Model.Title;
}

<h1>@Model.Title</h1>
<div class="row">
    @foreach (var item in Model.Products)
    {
        <div class="col-md-4">
            <figure class="card card-product">
                <div class="img-wrap"><img src=@item.Image></div>
                <figcaption class="info-wrap">
                    <h4 class="title">@item.ProductName</h4>
                    <p class="desc">@item.Description</p>
                    <div class="rating-wrap">
                        <div class="label-rating">Bolo medio R$@item.Price</div>
                        <div class="label-rating">Bolo grande R$154</div>
                    </div> <!-- rating-wrap.// -->
                </figcaption>
                <div class="bottom-wrap">
                    @Html.ActionLink("Detalhe", "Detail", "Menu", new {id=item.Id }, new {@class= "btn btn-sm btn-primary float-right"})
                   
                    <div class="price-wrap h5">
                        <span class="price-new">Kit festa R$1280</span> <del class="price-old">R$1980</del>
                    </div> <!-- price-wrap.// -->
                </div> <!-- bottom-wrap.// -->
            </figure>
        </div>
    }
    <!-- col // -->


</div> <!-- row.// -->
