@model ShoppingCake.MVC.ViewsModels.MenuViewModel;
@{
    ViewData["Title"] = Model.Title;
}

<h1>@Model.Title</h1>
<div class="row">
    <div class="col-md-4">
        <figure class="card card-product">
            <div class="img-wrap"><img src="https://dummyimage.com/350x350/e02661/0015ff"></div>
            <figcaption class="info-wrap">
                <h4 class="title">Bolo de Chocolate</h4>
                <p class="desc">Descrição do bolo</p>
                <div class="rating-wrap">
                    <div class="label-rating">Bolo medio R$132</div>
                    <div class="label-rating">Bolo grande R$154</div>
                </div> <!-- rating-wrap.// -->
            </figcaption>
            <div class="bottom-wrap">
                <a href="" class="btn btn-sm btn-primary float-right">Comprar</a>
                <div class="price-wrap h5">
                    <span class="price-new">Kit festa R$1280</span> <del class="price-old">R$1980</del>
                </div> <!-- price-wrap.// -->
            </div> <!-- bottom-wrap.// -->
        </figure>
    </div> <!-- col // -->
    <div class="col-md-4">
        <figure class="card card-product">
            <div class="img-wrap"><img src="https://dummyimage.com/350x350/e02661/0015ff"> </div>
            <figcaption class="info-wrap">
                <h4 class="title">Bolo de Casadinho</h4>
                <p class="desc">Descrição do bolo</p>
                <div class="rating-wrap">
                    <div class="label-rating">Bolo medio R$132</div>
                    <div class="label-rating">Bolo grande R$154</div>
                </div> <!-- rating-wrap.// -->
            </figcaption>
            <div class="bottom-wrap">
                <a href="" class="btn btn-sm btn-primary float-right">Comprar</a>
                <div class="price-wrap h5">
                    <span class="price-new">Kit festa R$1280</span> <del class="price-old">R$1980</del>
                </div> <!-- price-wrap.// -->
            </div> <!-- bottom-wrap.// -->
        </figure>
    </div> <!-- col // -->
    <div class="col-md-4">
        <figure class="card card-product">
            <div class="img-wrap"><img src="https://dummyimage.com/350x350/e02661/0015ff"></div>
            <figcaption class="info-wrap">
                <h4 class="title">Bolo de Churros</h4>
                <p class="desc">Descrição do bolo</p>
                <div class="rating-wrap">
                    <div class="label-rating">Bolo medio R$132</div>
                    <div class="label-rating">Bolo grande R$154</div>
                </div> <!-- rating-wrap.// -->
            </figcaption>
            <div class="bottom-wrap">
                <a href="" class="btn btn-sm btn-primary float-right">Comprar</a>
                <div class="price-wrap h5">
                    <span class="price-new">Kit festa R$1280</span> <del class="price-old">R$1980</del>
                </div> <!-- price-wrap.// -->
            </div> <!-- bottom-wrap.// -->
        </figure>
    </div> <!-- col // -->
</div> <!-- row.// -->
