<div class="row">
    <div class="col-sm-6 col-md-6">
        <div class="alert-message alert-message-success">
            <h4>
                Alert Message Success
            </h4>
            <p>
               Usuario criado com sucesso!
                <a href="http://www.jquery2dotnet.com/2013/07/cool-notification-css-style.html">
                    Cool Notification Css Style
                </a>
            </p>
        </div>
    </div>
    </div>

